@import "styles/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

.hamburger,
.cancelIcon {
  cursor: pointer;
  padding: 1px 12px 0 12px;
  width: max-content;

  @media (min-width: 1001px) {
    display: none;
  }
}

.cancelIcon {
  position: absolute;
  top: 10px;
  right: 0;
}

.registerButtons {
  @include direction-column;
  gap: 20px;
  width: 100%;
}

.active {
  border-color: #00d44a;
  background: #00d44a4c;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.fontFamilyStyle{
  font-family: "Orbitron", sans-serif !important;
}